

  .effetto-titolo {
    font-size: 80px; /* Dimensione del testo del titolo */
    text-align: center; /* Allineamento del testo */
    color:rgb(255, 255, 255); /* Colore del testo */
    padding: 20px; /* Spazio intorno al testo del titolo */
    animation: titolo-animazione 1s ease-out; /* Animazione del titolo */
    text-transform: uppercase;
    
  }
  
  @keyframes titolo-animazione {
    from {
      transform: scale(0); /* Inizio dell'animazione */
    }
    to {
      transform: scale(1); /* Fine dell'animazione */
    }
}
.par {
    text-align: center;
}

.paragr {
    text-align: center;
    font-size: 50px;
    color: #fff;
}

.contenitore {
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap;
    align-items: center;
    padding-left: 500px;
    padding-right: 500px;
  }
  
  .box {
    width: 400px;
    height: 400px;
    margin-top: 75px; 
    border: 1px solid black;
  }
  
  .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
  }

  

  